In [1]:
pip install plotly

Requirement already satisfied: plotly in c:\users\ektag\anaconda3\lib\site-packages (5.6.0)
Requirement already satisfied: six in c:\users\ektag\anaconda3\lib\site-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\ektag\anaconda3\lib\site-packages (from plotly) (8.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#importing libraries
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
#importing the dataset of cases and Population using file directory
world_data = pd.read_csv("C:/Users/ektag/Desktop/EDS/World/worldometer_coronavirus_daily_data.csv")
population = pd.read_csv("C:/Users/ektag/Desktop/EDS/World/worldometer_coronavirus_summary_data.csv")

In [4]:
#importing the Vaccination dtaset from Github
Indian_vaccination =  "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/India.csv"
USA_vaccination =  "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/United%20States.csv"
Germany_vaccination =  "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/vaccinations/country_data/Germany.csv"

## Covid Cases Analysis

In [5]:
world_data.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,15-02-2020,Afghanistan,0,NaN,0.0,0.0,NaN
1,16-02-2020,Afghanistan,0,NaN,0.0,0.0,NaN
2,17-02-2020,Afghanistan,0,NaN,0.0,0.0,NaN
3,18-02-2020,Afghanistan,0,NaN,0.0,0.0,NaN
4,19-02-2020,Afghanistan,0,NaN,0.0,0.0,NaN

In [6]:
world_data.shape

(184787, 7)

In [7]:
world_data.describe()

,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
count,1.847870e+05,174329.000000,1.667470e+05,1.782270e+05,157850.000000
mean,7.251089e+05,2987.633285,6.239283e+04,1.388600e+04,39.831834
std,3.681471e+06,17803.232663,3.955641e+05,6.049521e+04,181.102770
min,0.000000e+00,-322.000000,-1.432100e+04,0.000000e+00,-39.000000
25%,1.099000e+03,0.000000,6.000000e+01,2.400000e+01,0.000000
50%,1.775600e+04,58.000000,1.386000e+03,3.040000e+02,1.000000
75%,2.238085e+05,728.000000,1.462050e+04,4.111000e+03,12.000000
max,8.420947e+07,909610.000000,1.793543e+07,1.026646e+06,5093.000000

In [8]:
#To print the available Countries in the dataset
world_data.country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua And Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia And Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Caribbean Netherlands', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China Hong Kong Sar', 'China Macao Sar', 'China', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', 'Cote D Ivoire',
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Democratic Republic Of The Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Faeroe Islands', 'Falkland Islands Malvinas', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guatemala', 'Guinea Bissau',
       'Guinea', 'Guyana', 'Haiti', 'Holy See', 'Honduras', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland',
       'Isle Of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Martinique', 'Mauritania', 'Mauritius',
       'Mayotte', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Barthelemy',
       'Saint Helena', 'Saint Kitts And Nevis', 'Saint Lucia',
       'Saint Martin', 'Saint Pierre And Miquelon',
       'Saint Vincent And The Grenadines', 'Samoa', 'San Marino',
       'Sao Tome And Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'State Of Palestine', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor Leste', 'Togo', 'Tonga', 'Trinidad And Tobago',
       'Tunisia', 'Turkey', 'Turks And Caicos Islands', 'Uganda', 'UK',
       'Ukraine', 'United Arab Emirates', 'Uruguay', 'USA', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Viet Nam', 'Wallis And Futuna Islands',
       'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

## Separating three countries (India/USA/Germany) data from World dataset

### 1.India

In [9]:
#using query to sort the rows of india
india_covid = world_data.query('country == "India"')
india_covid.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
77104,15-02-2020,India,3,NaN,0.0,0.0,NaN
77105,16-02-2020,India,3,0.0,0.0,0.0,NaN
77106,17-02-2020,India,3,0.0,0.0,0.0,NaN
77107,18-02-2020,India,3,0.0,0.0,0.0,NaN
77108,19-02-2020,India,3,0.0,0.0,0.0,NaN

In [10]:
#dropping the redundant columns
india_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)
india_covid.head()

C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\1592003540.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)

             date country  daily_new_cases  active_cases  daily_new_deaths
77104  15-02-2020   India              NaN           0.0               NaN
77105  16-02-2020   India              0.0           0.0               NaN
77106  17-02-2020   India              0.0           0.0               NaN
77107  18-02-2020   India              0.0           0.0               NaN
77108  19-02-2020   India              0.0           0.0               NaN

In [11]:
#renaming the column names according to our convenience
india_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'Deaths'},inplace = True)
india_covid.head()

C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\145514149.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  india_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'Deaths'},inplace = True)

             date country  Daily_Cases  active_cases  Deaths
77104  15-02-2020   India          NaN           0.0     NaN
77105  16-02-2020   India          0.0           0.0     NaN
77106  17-02-2020   India          0.0           0.0     NaN
77107  18-02-2020   India          0.0           0.0     NaN
77108  19-02-2020   India          0.0           0.0     NaN

### 2.The USA

In [12]:
USA_covid = world_data.query('country == "USA"')
USA_covid.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
176587,15-02-2020,USA,15,NaN,12.0,0.0,NaN
176588,16-02-2020,USA,15,0.0,12.0,0.0,NaN
176589,17-02-2020,USA,15,0.0,12.0,0.0,NaN
176590,18-02-2020,USA,15,0.0,12.0,0.0,NaN
176591,19-02-2020,USA,15,0.0,12.0,0.0,NaN

In [13]:
USA_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)
USA_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'Deaths'},inplace = True)
USA_covid.head()

C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\3368048554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USA_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)
C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\3368048554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  USA_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'Deaths'},inplace = True)

              date country  Daily_Cases  active_cases  Deaths
176587  15-02-2020     USA          NaN          12.0     NaN
176588  16-02-2020     USA          0.0          12.0     NaN
176589  17-02-2020     USA          0.0          12.0     NaN
176590  18-02-2020     USA          0.0          12.0     NaN
176591  19-02-2020     USA          0.0          12.0     NaN

### 3. Germany

In [14]:
germany_covid = world_data.query('country == "Germany"')
germany_covid.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
63984,15-02-2020,Germany,16,NaN,13.0,0.0,NaN
63985,16-02-2020,Germany,16,0.0,13.0,0.0,NaN
63986,17-02-2020,Germany,16,0.0,9.0,0.0,NaN
63987,18-02-2020,Germany,16,0.0,7.0,0.0,NaN
63988,19-02-2020,Germany,16,0.0,7.0,0.0,NaN

In [15]:
germany_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)
germany_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'deaths'},inplace = True)
germany_covid.head()

C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\3046172153.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_covid.drop(columns = ["cumulative_total_cases","cumulative_total_deaths"], inplace = True)
C:\Users\ektag\AppData\Local\Temp\ipykernel_13860\3046172153.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  germany_covid.rename(columns = {'daily_new_cases':'Daily_Cases','daily_new_deaths':'deaths'},inplace = True)

             date  country  Daily_Cases  active_cases  deaths
63984  15-02-2020  Germany          NaN          13.0     NaN
63985  16-02-2020  Germany          0.0          13.0     NaN
63986  17-02-2020  Germany          0.0           9.0     NaN
63987  18-02-2020  Germany          0.0           7.0     NaN
63988  19-02-2020  Germany          0.0           7.0     NaN

In [16]:
germany_covid['Daily_Cases'] = (germany_covid['Daily_Cases']/ germany_population) * 100
india_covid['Daily_Cases'] = (india_covid['Daily_Cases']/ india_population) * 100
USA_covid['Daily_Cases'] = (USA_covid['Daily_Cases']/ USA_population) * 100

NameError: name 'germany_population' is not defined

### Figure 1: The relative cases overtime of Covid infectors

In [ ]:
fig = make_subplots(rows=3, cols=1, shared_xaxes=True,vertical_spacing=0.01,  y_title = "Absolute Covid Cases per Population",
    specs=[[{"type": "scatter"}],
           [{"type": "scatter"}],
           [{"type": "scatter"}]]
)


fig.add_trace(go.Scatter(x=india_covid["date"], y=india_covid["Daily_Cases"],mode="lines",name="India"),row= 1, col=1)
fig.add_trace(go.Scatter(x=USA_covid["date"], y=USA_covid["Daily_Cases"],mode="lines",name="USA"),row= 2, col = 1)
fig.add_trace(go.Scatter(x=germany_covid["date"], y=germany_covid["Daily_Cases"],mode="lines",name="Germany"),row=3, col = 1)
fig.update_layout(height=800, showlegend=True,title_text="Covid cases in three countries (India, USA, Germany)",)


fig.show()

## Population Calculation

In [ ]:
population.head()

In [ ]:
#Calculating germany Population
germany_population = population.query('country == "Germany"')['population'].sum()
germany_population

In [ ]:
#Calculating United States Population
USA_population = population.query('country == "USA"')['population'].sum()
USA_population

In [ ]:
#Calculating India Populationindia_population = population.query('country == "India"')['population'].sum()
india_population

## Vaccination rate

### 1. Germany

In [ ]:
german_vaccine = pd.read_csv(Germany_vaccination)

In [ ]:
#Calculating vaccination rate in percentage of population of Germany
german_vaccine['people_vaccinated'] = (german_vaccine['people_vaccinated']/germany_population) * 100
german_vaccine['people_fully_vaccinated'] = (german_vaccine['people_fully_vaccinated']/ germany_population) * 100
german_vaccine.head()

In [ ]:
german_vaccine.drop(columns = ["vaccine","source_url","total_boosters"], inplace = True)
german_vaccine.head()

### 2. USA

In [ ]:
USA_vaccine = pd.read_csv(USA_vaccination)

In [ ]:
#Calculating vaccination rate in percentage of population of United States
USA_vaccine['people_vaccinated'] = (USA_vaccine['people_vaccinated']/USA_population) * 100
USA_vaccine['people_fully_vaccinated'] = (USA_vaccine['people_fully_vaccinated']/ USA_population) * 100
USA_vaccine.head()

In [ ]:
USA_vaccine.drop(columns = ["vaccine","source_url","total_boosters"], inplace = True)
USA_vaccine.head()

### 3. India

In [ ]:
india_vaccine = pd.read_csv(Indian_vaccination)

In [ ]:
#Calculating vaccination rate in percentage of population of India
india_vaccine['people_vaccinated'] = (india_vaccine['people_vaccinated']/ india_population) * 100
india_vaccine['people_fully_vaccinated'] = (india_vaccine['people_fully_vaccinated']/ india_population) * 100
india_vaccine.head()

In [ ]:
india_vaccine.drop(columns = ["vaccine","source_url","total_boosters"], inplace = True)
india_vaccine.head()

In [ ]:
#Plotting line graph for the 1st dose overtime for Germany, United States and India
fig = go.Figure()

fig.add_trace(go.Scatter(x=india_vaccine["date"], y=india_vaccine["people_vaccinated"],
                    mode='lines',
                    name='India'))

fig.add_trace(go.Scatter(x=USA_vaccine["date"], y=USA_vaccine["people_vaccinated"],
                    mode='lines',
                    name='USA'))

fig.add_trace(go.Scatter( x=german_vaccine["date"], y=german_vaccine["people_vaccinated"],
                    mode='lines',
                    name='Germany'))

fig.update_layout(title = "Covid Vaccination rate overtime of 1st Dose(Percentage of the population)")
fig.update_xaxes(title_text = "Date")
fig.update_yaxes(title_text = "Vaccination rate with population (%)")
fig.show()

In [ ]:
#Plotting line graph for the 2nd dose overtime for Germany, United States and India
fig = go.Figure()

fig.add_trace(go.Scatter(x=india_vaccine["date"], y=india_vaccine["people_fully_vaccinated"],
                    mode='lines',
                    name='India'))

fig.add_trace(go.Scatter(x=USA_vaccine["date"], y=USA_vaccine["people_fully_vaccinated"],
                    mode='lines',
                    name='USA'))

fig.add_trace(go.Scatter( x=german_vaccine["date"], y=german_vaccine["people_fully_vaccinated"],
                    mode='lines',
                    name='Germany'))

fig.update_layout(title = "Covid Vaccination rate overtime of 2nd Dose(Percentage of the population)")
fig.update_xaxes(title_text = "Date")
fig.update_yaxes(title_text = "Vaccination rate with population (%)")
fig.show()